# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Build / dist
dist/
dist-ssr/
dist_electron/
out/
build/

# Vite cache
frontend/.vite/

# Logs
*.log
logs/
*.pid
*.seed
*.pid.lock

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Env files (⚠️ à gérer séparément si tu en as besoin)
.env
.env.local
.env.*.local

# Electron
*.asar
